# Database Configuration
DB_USER=archery_user
DB_PASSWORD=archery_pass
DB_NAME=archery_db
DB_PORT=5432
POSTGRES_DATA_PATH=./data/postgres

# Service Ports
BACKEND_PORT=8000
FRONTEND_PORT=8080

# Vite 开发服务器允许访问的域名，多个值用逗号分隔
VITE_ALLOWED_HOSTS=example.com,localhost

# Secret key
# echo -n '你的明文密码' | sha256sum | awk '{print $1}'
SECRET_KEY=replace_with_sha256_hex
